#nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#nav > li {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 4px;
    position: relative;
    text-align: center;
}

#nav > li > h3 {
    font-size: 1rem;
    padding: 5px 10px;
    position: absolute;
    z-index: 99;
}
#nav > li > img {
    border-radius: 15px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    max-width: 98%;
    margin: 0 3px;
    transition: all 0.3s;
}
#nav > li > img.active,
#nav > li > img:hover {
    box-shadow: 3px 3px 5px var(--grey03);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}